flows/Copy_Parent_with_Related.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>CopyField_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Is_CopyField_Clone}, {!Get_invoke_record.Copy_field__c}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Name_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Is_Name_Clone}, {!Get_invoke_record.Name}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>NotCopyField_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Is_NotCopyField_Clone}, {!Get_invoke_record.Not_copy_field__c}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Copy Parent with Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Parent with Related</label>
    <loops>
        <name>Loop_in_related_childs</name>
        <label>Loop in related childs</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_related_childs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_related_child_for_clone_parent</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_object</name>
        <label>Create object</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop_in_related_childs</targetReference>
        </connector>
        <inputAssignments>
            <field>Copy_field__c</field>
            <value>
                <elementReference>CopyField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_copy_field__c</field>
            <value>
                <elementReference>Not_copy_field</elementReference>
            </value>
        </inputAssignments>
        <object>Parent_object__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_related_child_for_clone_parent</name>
        <label>Create related child for clone parent</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Loop_in_related_childs</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_in_related_childs.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_object__c</field>
            <value>
                <elementReference>Create_object</elementReference>
            </value>
        </inputAssignments>
        <object>Child_object__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_invoke_record</name>
        <label>Get invoke record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_childs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parent_object__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_childs</name>
        <label>Get related childs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_fields</targetReference>
        </connector>
        <filters>
            <field>Parent_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_invoke_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child_object__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_fields</name>
        <label>Choose fields</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <fields>
            <name>Is_Name_Clone</name>
            <dataType>Boolean</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_CopyField_Clone</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Copy field</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_NotCopyField_Clone</name>
            <dataType>Boolean</dataType>
            <fieldText>Not Copy field</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_object</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Name_Clone</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CopyField</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CopyField_Clone</elementReference>
            </defaultValue>
            <fieldText>Copy field</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Not_copy_field</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NotCopyField_Clone</elementReference>
            </defaultValue>
            <fieldText>Not copy field</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_invoke_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Copy_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_invoke_record.Copy_field__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Current Id of object</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
